.jordan
  display: grid
  margin-left: 330px
  margin-right: 330px
  .logo
    grid-column: 1
    grid-row: 1
    display: grid
    #logo
      width: 89px
      grid-column: 1
      grid-row: 1
    #auswowes
      grid-column: 2
      grid-row: 1
    #open
      grid-column: 2
      grid-row: 2

  .search
    grid-column: 2
    grid-row: 1
    #search
      
  .userarea
    grid-column: 3
    grid-row: 1
  .deadlinks
    grid-column: 1
    grid-row: 2
    